img{
  width:250px;
  height: 250px;
}

img-container {
  min-height: 500px;
  color: aliceblue;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-left: 9rem;
}
