:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 100px;
  --hex-between: 10px;

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all 0.2s ease;

  /* Colors */
  --color-hex-default: #090a09;
  --color-hex-hover: #f1ca80;
  --color-bootstrap: #563d7c;
  --color-css: #1572b6;
  --color-git: #f14e32;
  --color-html: #e34f26;
  --color-javascript: #f7df1e;
  --color-sass: #f4f7cc;
  --color-webpack: #8dd6f9;
}

img {
  width: 250px;
  height: 250px;
}

img-container {
  min-height: 500px;
  color: aliceblue;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-left: 9rem;
}

.resume {
  text-align: center;
}
.link {
  font-size: 20px;
  text-decoration: underline;
}
/* Hexagons */
.hexagon-container {
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(
      --hex-width
    );
  grid-auto-rows: calc(var(--hex-width) - 28.87px / 2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}
.hexagon {
  align-items: center;
  color: rgb(7, 7, 7);
  font-weight: 500;
  margin: 1rem;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: rgb(10, 7, 7);
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
  font-weight: 500;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.hexagon:hover {
  background-color: var(--color-hex-hover);
}
.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}

.hexagon > svg {
  height: 75%;
  transition: var(--hex-transition);
}

/* Colors */
.color-sass {
  background-color: var(--color-sass);
}
.color-sass::after,
.color-sass::before {
  border-top-color: var(--color-sass);
  border-bottom-color: var(--color-sass);
}
.color-sass:hover {
  fill: var(--color-sass);
}

.color-git {
  background-color: var(--color-git);
}
.color-git::after,
.color-git::before {
  border-top-color: var(--color-git);
  border-bottom-color: var(--color-git);
}
.color-git:hover {
  fill: var(--color-git);
}

.color-html {
  background-color: var(--color-html);
}
.color-html::after,
.color-html::before {
  border-top-color: var(--color-html);
  border-bottom-color: var(--color-html);
}
.color-html:hover {
  fill: var(--color-html);
}
